@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Entity Framework 6 Database First Scaffold Trial</h2>
    <p><a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/database-first-development/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    @Html.ActionLink("List of students", "Index", "Students")<br />
    @Html.ActionLink("List of enrollments", "Index", "Enrollments")<br />
    @Html.ActionLink("List of courses", "Index", "Courses")<br />
</div>